#root {
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.content-wrapper {
  display: flex;
  flex-direction: row;
}
@media (max-width: 640px) {
  .content-wrapper {
    flex-direction: column;
  }
}

.board-wrapper {
  flex: 1;
}

.bingo-board {
  width: 100%;
}

.bingo-board th {
  font-size: 96px;
}

.bingo-board th,
.bingo-board .tile {
  background: white;
  color: black;
  width: 150px;
  height: 150px;
}

.bingo-board .tile button {
  height: 100%;
  width: 100%;
  color: black;
  background: white;
  border-radius: 50%;
  font-size: 14px;
}
.bingo-board .tile.checked button {
  background: lightblue;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.options-input {
  width: 600px;
  height: 600px;
}
